<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interns</title>

<style>
    #interns {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    #interns td, #interns th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    #interns tr:nth-child(even){
        background-color: #f2f2f2;
    }

    #interns tr:hover{
        background-color: #ddd;
    }
    #interns th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4caf50;
        color: white;
    }
</style>
</head>
<body>
    <table id="interns" style="width: 100%;">
        <tr>
            <th>S.No</th>
            <th>Photo</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>College Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>State</th>
        </tr>
        <tr>
            <td>1</td>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Dhansuh_at_VIP_2_Success_Meet.jpg/220px-Dhansuh_at_VIP_2_Success_Meet.jpg" height=100 width=100></td>
            <td>Aashrith</td>
            <td>Kandimalla</td>
            <td>Amrita University</td>
            <td>9182709761</td>
            <td>aashrith.kandimalla@knowledgelens.com</td>
            <td>Telangana</td>
        </tr>
        <tr>
            <td>2</td>
            <td><img src="https://filmfare.wwmindia.com/thumb/content/2019/nov/prabhas81573474750.jpg?width=1200&height=900" height=100 width=100></td>
            <td>Rakesh</td>
            <td>Kamma</td>
            <td>Amrita University</td>
            <td>9182709762</td>
            <td>rakesh.kamma@knowledgelens.com</td>
            <td>Andhra Pradesh</td>
        </tr>
        <tr>
            <td>3</td>
            <td><img src="https://img.mensxp.com/media/content/2020/Aug/Times-Allu-Arjun-Beat-Arjun-Kapoors-Style-Game1200_5f3cae3a00738_1200x900.jpeg" height=100 width=100></td>
            <td>Grandhi Venkata Sai Nagendra</td>
            <td>Vamsi Krishna</td>
            <td>Amrita University</td>
            <td>9182709763</td>
            <td>vamsikrishna.grandhi@knowledgelens.com</td>
            <td>Andhra Pradesh</td>
        </tr>
        <tr>
            <td>4</td>
            <td><img src="https://i.pinimg.com/736x/28/c0/a5/28c0a528f7fbc2ed9d6c812e9ab360ba.jpg" height=100 width=100></td>
            <td>Majety</td>
            <td>Omesh</td>
            <td>Amrita University</td>
            <td>9182709764</td>
            <td>omesh.majety@knowledgelens.com</td>
            <td>Andhra Pradesh</td>
        </tr>
        <tr>
            <td>5</td>
            <td><img src="https://pbs.twimg.com/profile_images/1290483410016772097/4Jz7iv08_400x400.jpg" height=100 width=100></td>
            <td>A</td>
            <td>Badri</td>
            <td>Amrita University</td>
            <td>9182709765</td>
            <td>badri.a@knowledgelens.com</td>
            <td>Andhra Pradesh</td>
        </tr>
        <tr>
            <td>6</td>
            <td><img src="https://www.thehindu.com/entertainment/movies/yl3ox/article30265525.ece/ALTERNATES/LANDSCAPE_1200/MPRajinikanth-Darbar" height=100 width=100></td>
            <td>A K</td>
            <td>Kiran</td>
            <td>Amrita University</td>
            <td>9182709766</td>
            <td>kiran.ak@knowledgelens.com</td>
            <td>Tamil Nadu</td>
        </tr>
        <tr>
            <td>7</td>
            <td><img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-358175,resizemode-1,msid-72154984/magazines/panache/kamal-haasan-to-undergo-leg-surgery-tomorrow-to-remove-implant.jpg" height=100 width=100></td>
            <td>T</td>
            <td>Sabari</td>
            <td>Amrita University</td>
            <td>9182709767</td>
            <td>sabari.t@knowledgelens.com</td>
            <td>Tamil Nadu</td>
        </tr>
        <tr>
            <td>8</td>
            <td><img src="https://gallery.teluguin.com/cdn/en/wp-content/uploads/2020/03/nayantara.jpg" height=100 width=100></td>
            <td>Suresh</td>
            <td>Gayathri</td>
            <td>Amrita University</td>
            <td>9182709768</td>
            <td>gayathri.suresh@knowledgelens.com</td>
            <td>Kerala</td>
        </tr>
    </table>
</body>
</html>